/* SET OUT THE GRID VIEW LAYOUT */
.image-list {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    grid-gap: 10px;
}

.image {
    cursor: pointer;
}

/* SPECIFY WIDTH OF THE IMAGES TO MAKE THE LAYOUT MORE CONCISE */
.image-list image {
    width: 250px;
}

.meal-photo {grid-area: meal-photo;}
.meal-name {grid-area: meal-name;}
.meal-description {
    grid-area: meal-description;
    text-align: left;
}

.mealInfo {
    border: 1px solid black;
    height: 400px;
}

.container {
    display: grid;
    grid-template-areas: 
        'meal-photo meal-photo meal-photo meal-photo meal-name meal-name'
        'meal-photo meal-photo meal-photo meal-photo meal-description meal-description';
    padding-top: 5px;
    padding-bottom: 5px;
    margin-top: 2rem;
    margin-bottom: 2rem;
}

/* .meal-detail {
    border: 1px solid rgb(189, 186, 186);
    border-radius: 10px;
} */

img.meal-photo {
    border-right: 1px solid rgb(219, 219, 219);
}

.meal-photo {
    padding-left: 10px;
    padding-right: 15rem;
    max-width: 100%;
    max-height: 400px;
}

.information {
    animation-duration: 3s;
    animation-name: fadein;
    text-align: left;
    font-size: 16px;
}

@keyframes fadein {
    0% {opacity: 0;}
    100% {opacity: 1;}
}